.config/alacritty/alacrittyCachyOs.toml
.config/alacritty/colors.toml
.config/eww/colors.scss
.config/hypr/colors.conf
.config/kitty/colors.conf
.config/kitty/dank-theme.conf
.config/kitty/dank-tabs.conf
